* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

#home {
  background-image: url(pexels-vishnurnair-1105666.jpg);
  height: 660px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;
}

.home-overLayer {
  background-color: rgba(214, 46, 51, 0.6);
  position: absolute;
}
#slider-down {
  width: 50%;
  margin: 100px auto;
}
#slider-down h3 {
  padding: 10px;
  margin: 0;
  background-color: rgba(214, 46, 51, 0.6);
  cursor: pointer;
  color: white;
}
.inner {
  padding: 10px;
  background-color: #ccc;
  display: none;
}

.first {
  display: block;
}
.side-nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: large;
}
#left-menu {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 60px;
  width: 250px;
}
